<footer id="footer" class="footer bg-primary color-black">

    <div class="footer-inner inner box-flex pt-600 pb-600">

        <p class="text-400">© 2021 <a href="https://keith-taylor.pages.dev/">Keith Taylor</a>.<br>｟<a href="/">Home</a>｠ | ｟<a href="/gouty/about-goutpal-com/">About</a>｠ | ｟<a href="/gouty/purpose/">Purpose</a>｠ | ｟<a href="/gouty/gout-people/">Contact</a>｠ | ｟<a href="/gouty/privacy-policy/">Privacy</a>｠ | ｟<a href="https://keith-taylor.pages.dev/keith-taylor-terms-and-conditions/">T&amp;Cs</a>｠ | ｟<a href="/gouty/gout-info/">Notifications</a>｠ | ｟<a href="https://keith-taylor.pages.dev/help-keith-taylor">Help</a>｠ | ｟<a href="https://cse.google.com/cse?cx=e7158312c712ab2c3">Search</a>｠{{ site.github }}</p>

        {% include 'components/social-icons.njk' %}

    </div>
    <div class="kctdisclaimer"><p class="text-300">Disclaimer: The purpose of my website is to provide jargon-free information. So this website explains facts about {{ site.subject }}. But it is definitely NOT a substitute for professional advice. </p><p class="text-300">Information on this website is provided by an amateur enthusiast (<a href="https://keith-taylor.pages.dev/">Keith Taylor</a>), with no professional qualifications. So you must seek professional advice about {{ site.subject }} and any other matters that affect your money or your life. </p>
    </div>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "5rrxc6rptv");
    </script>
    <script data-ad-client="ca-pub-7512621270035949" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
</footer>
