<a class="logo box-block color-white weight-bold" href="/">{{ site.name }} <img src="/images/friendly-help-for-gout-620.webp" alt="{{ site.name }}"  width="620" height="105" style="float:right">
</a>
